@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../../../../Content/styles/fonts/glyphicons-halflings-regular.eot');
  src: url('../../../../../Content/styles/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../../../../Content/styles/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../../../../Content/styles/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../../../../Content/styles/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.no-border {
  border: none !important;
}
.no-border-top {
  border-top: none !important;
}
.no-border-bottom {
  border-bottom: none !important;
}
.no-border-radius {
  border-radius: 0 !important;
}
.no-box-shadow {
  box-shadow: none !important;
}
.no-bg {
  background: none;
}
.no-repeat {
  background-repeat: no-repeat;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.semi-bold {
  font-weight: 600;
}
.inline {
  display: inline-block !important;
  vertical-align: top;
}
.block {
  display: block;
}
.ellips-base {
  overflow: hidden;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ellipsis-multiline {
  white-space: normal;
  overflow: hidden;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.pointer {
  cursor: pointer;
}
.no-pointer {
  cursor: default;
}
.no-cursor {
  cursor: none;
}
.upper {
  text-transform: uppercase;
}
.clear {
  clear: both;
}
.underline {
  text-decoration: underline;
}
.invisible {
  visibility: hidden;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.flat-submit {
  background: none;
  box-shadow: none !important;
  border: none !important;
}
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}
/*arrows imported from bootstrap glyphicon */
.up {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.up:before {
  content: "\e093";
}
.down {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.down:before {
  content: "\e094";
}
.eq {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.eq:before {
  content: "\e120";
}
.glyphicon-arrow-eq {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-arrow-eq:before {
  content: "\e120";
}
.sweet-overlay {
  z-index: 2147483647;
}
.sweet-alert {
  z-index: 2147483647;
}
/*#region static constants */
/*#endregion */
/*#region colors */
/*#region colors */
/*#endregion */
/*#region dimensions */
/*#endregion */
/*#region fonts */
/*#endregion */
.action-btn-font {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal !important;
  font-size: 16pt;
}
body,
.container {
  min-width: 1100px !important;
}
.btn-action {
  background-color: #26a65b !important;
  width: 150px;
  height: 64px;
  position: absolute;
  bottom: -13px;
  right: -30px;
  text-align: center;
  font-family: 'Open Sans', Arial;
}
.btn-action input[type=submit],
.btn-action a,
.btn-action span {
  color: #fff;
  font-size: 20pt;
  padding: 10px 0 0;
  width: 100%;
  height: 100%;
  border: none !important;
  box-shadow: none !important;
  background: none;
  display: block;
  text-transform: uppercase;
}
.btn-action a {
  display: block;
}
.btn-action a:hover {
  text-decoration: none;
}
.action-button {
  background: #000;
  color: #fff !important;
  font-size: 14pt;
  padding: 7px;
  text-decoration: none;
}
.list-inner {
  width: calc(100% - 2 * @quest_list_inner_padding);
  padding: 7px;
}
.quiz-head {
  height: 46px;
  padding: 0;
}
.quiz-head > div {
  height: 100%;
  float: left !important;
}
.quiz-head > div.tab-container {
  width: 526px;
}
.quiz-head > div.tab-container > ul {
  height: 100%;
  border: none !important;
}
.quiz-head > div.tab-container > ul > li.tab {
  float: left !important;
  width: #cccccc;
  height: 100%;
  font-size: 22px;
  cursor: pointer;
  border-radius: 0;
  padding: 0 15px;
}
.quiz-head > div.tab-container > ul > li.tab a {
  background-color: transparent;
  color: #666666;
  border: none;
  padding: 10px 0 0 15px;
}
.quiz-head > div.tab-container > ul > li.tab.active {
  background-color: #045d9b !important;
}
.quiz-head > div.tab-container > ul > li.tab.active a {
  color: #fff;
}
.quiz-head > div.nav-btn-container {
  width: calc(100% -  524px - 10px);
}
.quiz-head > div.nav-btn-container .btn.back {
  background-color: "transparent" !important;
  background-image: url("../../images/quiz/ico-back.png");
  background-repeat: no-repeat;
  background-position: 5px 12px;
  padding: 8px 0 0 40px;
  float: right !important;
  font-size: 22px;
}
.s-quiz_form {
  padding: 15px;
  border: solid 1px #999;
  height: 570px;
  position: relative;
}
.s-quiz_form.no-valid {
  height: 630px;
}
.s-quiz_form > .row {
  width: 100%;
  height: 100%;
  margin: 0;
}
.s-quiz_form > .row .tab-content {
  width: 100%;
  height: 100%;
}
.s-quiz_form > .row .tab-content > .tab-pane {
  width: 100%;
  height: 100%;
}
.s-quiz_form .btn-action {
  bottom: -15px;
  right: -15px;
}
.s-quiz_form .btn-action.pub {
  background-color: #214d96 !important;
  right: 135px;
}
.s-quiz_form .btn-action.pub.draft {
  background-color: #224062 !important;
}
.s-quiz_form .btn-action.pub.disabled {
  background-color: #cecece !important;
}
.s-quiz_form .quiz-pub-container {
  height: 60px;
  position: relative;
  background-color: #f2f1ef;
  color: #333;
  font-size: 13px;
}
.s-quiz_form .quiz-pub-container > .inner {
  padding: 10px;
  position: relative;
}
.s-quiz_form .quiz-pub-container > .inner:before {
  border: 2px solid #333;
  border-radius: 50%;
  content: "!";
  display: table-cell;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  width: 30px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}
.s-quiz_form .quiz-pub-container > .inner > h3 {
  font-weight: 600;
  font-size: 14px;
  padding: 0 0 0 35px;
}
.s-quiz_form .quiz-pub-container > .inner > ul {
  margin: 5px 0 0 30px;
}
.s-quiz_form .quiz-pub-container > .inner > ul > li {
  display: inline-block !important;
  vertical-align: top;
  padding: 0 7px;
}
.s-quest-form {
  padding: 15px;
  border: dotted 1px #999;
  height: 588px;
}
.s-quest-form .btn-action {
  bottom: -26px;
  right: -15px;
}
.quest-head {
  height: 46px;
  padding: 0;
}
.quest-head > div {
  height: 100%;
  float: left !important;
}
.quest-head > div.tab-container {
  width: 466px;
}
.quest-head > div.tab-container > ul {
  height: 100%;
  border: none !important;
}
.quest-head > div.tab-container > ul > li.tab {
  float: left !important;
  width: 230px;
  height: 100%;
  font-size: 22px;
  cursor: pointer;
  border-radius: 0;
}
.quest-head > div.tab-container > ul > li.tab a {
  background-color: transparent;
  color: #666666;
  border: none;
  padding: 10px 0 0 15px;
}
.quest-head > div.tab-container > ul > li.tab.active {
  background-color: #ebebeb !important;
}
.quest-container {
  width: 100%;
  height: 100%;
}
.quest-container .command-row {
  height: 56px;
  width: 100%;
  background: #000;
}
.quest-container .command-row .add-new {
  float: left !important;
  width: 220px;
  height: 100%;
  text-align: center;
}
.quest-container .command-row .add-new > a {
  text-align: left;
  padding: 10px 0 0 10px;
  font-size: 16pt;
  /*.bg("add","transparent");background-position:20px 15px;padding:15px 0 0 0;*/
}
.quest-container .command-row .add-new > a > span {
  display: inline-block !important;
  vertical-align: top;
}
.quest-container .command-row .add-new > a > span.i {
  width: 30px;
  height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: transparent;
  border: 3px solid #fff;
  margin-right: 5px;
  position: relative;
}
.quest-container .command-row .add-new > a > span.i:before {
  content: "+";
  font-size: 25pt;
  left: 4px;
  position: relative;
  top: -14px;
}
.quest-container .command-row .expnd-clps {
  height: 100%;
  float: right !important;
  margin-left: 15px 0;
}
.quest-container .command-row .expnd-clps > a {
  font-size: 13pt;
  text-decoration: underline;
  padding: 15px 15px 7px 7px;
}
.quest-container .command-row a {
  background: #000;
  color: #fff !important;
  font-size: 14pt;
  padding: 7px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.list_btn_font {
  font-size: 12px;
  font-family: 'Open Sans', Arial;
}
.q-list-card {
  height: calc(100% - 55px);
}
.q-list-card .ul-quiz-q-list > li {
  height: auto;
  background: #ebebeb;
  margin: 2px 0;
  color: #333;
}
.q-list-card .ul-quiz-q-list > li.active {
  background: #cecece;
}
.q-list-card .ul-quiz-q-list > li > .inner {
  width: calc(100% - 2 * @quest_list_inner_padding);
  padding: 7px;
}
.q-list-card .ul-quiz-q-list > li > .inner.l-one {
  height: 44px;
}
.q-list-card .ul-quiz-q-list > li > .inner .drag-box {
  cursor: move;
  padding-right: 4px;
  margin-right: 10px;
  border-right: solid 1px #919191;
}
.q-list-card .ul-quiz-q-list > li > .inner .drag-box > i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #919191;
  background-image: none;
  font-size: 2em;
  left: -6px;
  top: 6px;
}
.q-list-card .ul-quiz-q-list > li > .inner .drag-box > i:before {
  content: "\e119";
}
.q-list-card .ul-quiz-q-list > li > .inner .btn-expand-collapse {
  border: none !important;
  cursor: pointer;
}
.q-list-card .ul-quiz-q-list > li > .inner .btn-expand-collapse.btn-collapse-first {
  color: #a2a2a2;
}
.q-list-card .ul-quiz-q-list > li > .inner .btn-expand-collapse > i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 10px;
}
.q-list-card .ul-quiz-q-list > li > .inner .btn-expand-collapse > i.collapsed:before {
  content: "\e113";
}
.q-list-card .ul-quiz-q-list > li > .inner .btn-expand-collapse > i.expanded:before {
  content: "\e114";
}
.q-list-card .ul-quiz-q-list > li > .inner > div {
  float: left !important;
  height: 100%;
}
.q-list-card .ul-quiz-q-list > li > .inner > div.btn-container {
  float: right !important;
  width: 270px;
  font-size: 12px;
  font-family: 'Open Sans', Arial;
}
.q-list-card .ul-quiz-q-list > li > .inner > div.btn-container a {
  padding: 10px 7px 0;
  text-decoration: underline;
  display: inline-block !important;
  vertical-align: top;
  cursor: pointer;
}
.q-list-card .ul-quiz-q-list > li > .inner > div.btn-container a.k-delete-button {
  width: 60px;
}
.q-list-card .ul-quiz-q-list > li > .inner > div.btn-container a:last-child {
  padding-right: 0;
}
.q-list-card .ul-quiz-q-list > li > .inner .q-container {
  width: calc(100% - 330px);
}
.q-list-card .ul-quiz-q-list > li > .inner .q-container > .q-txt {
  display: block;
  white-space: nowrap;
  white-space: normal;
  overflow: hidden;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 100%;
  width: 100%;
  padding: 4px;
  font-size: 16px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents {
  display: none;
  padding: 2px 0 0 25px;
  background: #fff;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .fs-list-edit-form {
  position: relative;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .fs-list-edit-form .btn-action {
  bottom: 0;
  right: 0px;
  background-color: #26a65b !important;
  height: 34px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal !important;
  font-size: 16pt;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .fs-list-edit-form .btn-action.cancel-edit {
  background-color: #cc0001 !important;
  right: 151px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .fs-list-edit-form .btn-action a,
.q-list-card .ul-quiz-q-list > li > .first-contents .fs-list-edit-form .btn-action input[type=submit] {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal !important;
  font-size: 16pt;
  padding-top: 2px;
  display: block;
  width: 100%;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .d-answers-container {
  margin: 0 0 15px 0;
  width: 100%;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .add-new-answer {
  height: 36px;
  padding: 15px 0;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .add-new-answer > i {
  background-color: #0187cb;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block !important;
  vertical-align: top;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .add-new-answer > i:before {
  content: "\2b";
}
.q-list-card .ul-quiz-q-list > li > .first-contents .add-new-answer > i:before {
  position: relative;
  top: 7px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .add-new-answer > a {
  display: inline-block !important;
  vertical-align: top;
  color: #333;
  text-decoration: underline;
  font-size: 13pt;
  padding-top: 3px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li {
  height: auto;
  min-height: 40px;
  background: #ecf1f4;
  margin-bottom: 2px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner {
  width: calc(100% - 2 * @quest_list_inner_padding);
  padding: 7px;
  position: relative;
  height: auto;
  min-height: 40px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form {
  position: relative;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form .btn-action {
  bottom: 0;
  right: 0px;
  background-color: #26a65b;
  position: absolute;
  height: 34px;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal !important;
  font-size: 16pt;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form .btn-action.cancel-edit {
  background-color: #cc0001 !important;
  right: 151px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form .btn-action a,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form .btn-action input[type=submit] {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal !important;
  font-size: 16pt;
  padding-top: 2px;
  width: 100%;
  display: block;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .frm-hidden {
  position: absolute;
  top: 0;
  right: 0;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .frm-hidden .l-f-delete-button {
  text-decoration: underline;
  cursor: pointer;
  background: none;
  box-shadow: none !important;
  border: none !important;
  top: 15px;
  right: 25px;
  position: relative;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form > div,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > div {
  display: inline-block !important;
  vertical-align: top;
  height: 100%;
  position: relative;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form > div.a-container,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > div.a-container {
  width: calc(100% - 235px);
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form > div.a-container > div,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > div.a-container > div {
  display: inline-block !important;
  vertical-align: top;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form > div.a-container > div.ot,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > div.a-container > div.ot {
  white-space: nowrap;
  overflow: hidden;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: calc(100% - 70px);
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form > div.a-container > div.ot .k-editor-widget,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > div.a-container > div.ot .k-editor-widget {
  background: transparent;
  border: none;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form > div.a-container > div.chk-field,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > div.a-container > div.chk-field {
  padding-top: 7px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form > div.a-container > div.chk-field > input,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > div.a-container > div.chk-field > input {
  display: inline-block !important;
  vertical-align: top;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > form > div.a-container > div.chk-field > label,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner > div.a-container > div.chk-field > label {
  display: inline-block !important;
  vertical-align: top;
  margin-left: 5px;
  text-decoration: underline;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .btn-container {
  width: 185px;
  padding-top: 7px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .btn-container span,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .btn-container input[type=submit] {
  text-decoration: underline;
  display: inline-block !important;
  vertical-align: top;
  cursor: pointer;
  background: none;
  box-shadow: none !important;
  border: none !important;
  font-size: 12px;
  font-family: 'Open Sans', Arial;
  padding: 0 7px 0 15px;
  /*,&.k-cancel-button*/
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .btn-container span.l-delete-button,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .btn-container input[type=submit].l-delete-button {
  width: 60px;
  float: right !important;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .btn-container span:last-child,
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .btn-container input[type=submit]:last-child {
  padding-right: 15px;
  text-align: right;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .btn-container.in-edit .l-delete-button {
  float: right !important;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .drag-box {
  cursor: move;
  padding-right: 4px;
  margin-right: 10px;
  border-right: solid 1px #cecece;
  height: 40px !important;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .drag-box > i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cecece;
  background-image: none;
  font-size: 2em;
  left: -6px;
  top: 6px;
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .drag-box > i:before {
  content: "\e119";
}
.q-list-card .ul-quiz-q-list > li > .first-contents .ul-quiz-a-list > li > .inner .drag-box.in-edit {
  border: none;
}
.browse-video {
  background: #000;
  color: #fff !important;
  font-size: 14pt;
  padding: 7px;
  text-decoration: none;
  position: relative;
  display: block;
  width: calc(@quest_edit_thumb_w - 15px);
  text-align: center;
  font-size: 12px;
  font-family: 'Open Sans', Arial;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.browse-video:hover {
  text-decoration: none;
}
.thumb-container .thumb-box {
  width: 180px;
  height: 140px;
  border: 1px solid #000;
  text-align: center;
}
.thumb-container .thumb-box img {
  width: 100%;
  height: 100%;
}
.thumb-container .thumb-box .preview {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.thumb-container .thumb-box .hint {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  -ms-opacity: .7;
  opacity: .7;
  z-index: 1000;
  background: #000;
  color: #fff;
  font-size: 16px;
  margin: -140px 0 0 0;
  text-align: center;
}
.thumb-container .thumb-box .hint .play {
  display: block;
  cursor: pointer;
  font-size: 20px;
  padding-top: 70px;
}
.thumb-container .thumb-box .list-player {
  margin-top: 0;
}
/**/
/*.btn-submit{.action-button;right:0; bottom:0px;}*/
.ul-frm.second-level {
  padding: 0;
  margin: 0;
}
.ul-frm.second-level li:first-child {
  margin-top: 0;
}
.ul-frm.second-level .box-short {
  display: inline-block !important;
  vertical-align: top;
  width: 40%;
}
.ul-frm.second-level .box-short label {
  width: 40px;
}
.ul-frm.second-level .box-short input[type="checkbox"] {
  width: 20px;
}
.ul-frm.second-level .field-validation-error {
  display: block;
  padding: 4px 0 0;
  font-size: 11px;
  color: red;
}
.ul-frm > li {
  min-height: 40px;
  height: auto;
  margin: 10px 0;
  font-size: 13px;
}
.ul-frm > li:last-child {
  margin-bottom: 0;
}
.ul-frm > li .inner-box {
  float: left !important;
  width: 480px;
}
.ul-frm > li .inner-box.bit {
  width: 200px;
}
.ul-frm > li label {
  width: 120px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
.ul-frm > li input {
  margin: 0;
}
.ul-frm > li input.l-edit-field {
  width: 250px;
  min-height: 24px;
}
.ul-frm > li .field-validation-error {
  display: block;
  padding: 4px 0 0 120px;
  font-size: 11px;
  color: red;
}
/*question list*/
/*kendo*/
.k-grid {
  border: none !important;
}
.k-grid a.list-cmd {
  border: none;
}
.k-grid a.list-cmd > .k-icon {
  display: none;
}
.k-grid tbody td {
  border: medium none !important;
  font-size: 14px !important;
  height: 24px !important;
  padding-left: 4px !important;
  text-align: left;
}
th.k-header {
  border-left: medium none !important;
  border-right: medium none !important;
  padding: 12px 0 12px 4px !important;
}
thead.k-grid-header,
th.k-header {
  background-color: #fff !important;
  background-image: none !important;
  border: none;
  border-bottom: 1px solid #333 !important;
}
th.k-header .k-link {
  color: #000 !important;
  font-size: 14px !important;
  font-weight: 600;
  text-decoration: none !important;
}
.k-listview {
  border: none;
}
.k-edit-field {
  float: none;
  display: inline-block !important;
  vertical-align: top;
}
