@model LFE.DataTokens.BaseModelState

<div class="user-g2t-register-container">
    <div class="head">
    </div>

    <div class="g2t-details-container">
        <h1 style="text-transform: uppercase;">@Model.Message</h1>
    </div>

    <div class="g2t-foot">
        <div class="float-left">
            <ul class="ul-links">
                <li>
                    <a href="javascript:loadUserG2TForm();">Back</a>
                </li>
            </ul>
        </div>
    </div>
</div>
