@model LFE.Portal.Areas.Widget.Models.UserQuizPropBoxToken
<div class="col-xs-12 col-sm-6 col-md-3 box">
    <div class="inner">
        <h5>@Model.Title</h5>
        <div class="circ @Model.CssClass">
            <span class="@Model.SpanCssClass">@Model.Value</span>
        </div>
    </div>
</div>