@model short?
           
@{
    if (Model != null)
    {
        <div class="quiz-countdown-container">
            <div class="title">time remaining</div>
            <div id="quiz-countdown" class="timer">00:00</div>
        </div>
    }
}