commands:
  change_app_pool:
    command: C:\Windows\System32\inetsrv\appcmd.exe set app /app.name:"Default Web Site/" /applicationPool:".NET v4.5"
  enable_loaduserprofile:
    command: C:\Windows\System32\inetsrv\appcmd.exe set config -section:applicationPools "/[name='.NET v4.5'].processModel.loadUserProfile:true"