@model LFE.DataTokens.ItemInfoToken

@{
    ViewBag.Title = "Course not published";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

@section css{
    <style>
        .np-msg{color: #fff;font-size: 24px;margin: 250px auto 0}
    </style>
}

<h2 class="np-msg">The online course you are attempting to access is not published yet. Please contact the course author for information regarding its availability.</h2>    

