@using LFE.Portal.Models
@model ResetPasswordPageToken
@{
    ViewBag.Title = "Reset LFE Password";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";


    var error = Model.IsValid ? (Model.PasswordChanged ? Model.Message : "") : (String.IsNullOrEmpty(Model.Error) ? "" : Model.Error);
}
@section css{}

@section scripts{

    <script>
        var RESET_PWD_FORM_SELECTOR = "#form-reset-pwd";        
    </script>
    @{
        if (error != null)
        {
            <script>
                $(document).ready(function () {
                    showLoginError('@error');
                });
            </script>
        }
    }
}


<div class="main-login-container rel">
    <div class="login-head">
        <h4 class="common-title rp-title">Reset Password</h4>
    </div>
    <div class="wnd-login">

        <div class="login-main rel" style="padding-top: 25px">
            @{
                if (Model.PasswordChanged)
                {
                    <h2 style="padding: 0;margin: 25px auto 0;font-size: 22px">@Html.Raw(Model.Message)</h2>

                    <div style="padding-top: 15px">
                        @Html.ActionLink("Login to LFE", "Login", "Account", new { area = "" }, new { @class = "link-button", @style = "font-size: 22px" })
                    </div>
                }
                else
                {
                    @Html.Partial("Account/_SetPasswordPartial", new ResetLocalPasswordToken { PasswordResetToken = Model.PasswordResetToken })  
                }
            }
        </div>

        <div class="foot main-login-footer">
            @{
                if (!Model.PasswordChanged)
                {
                    <div id="login-footer-link"></div>
                    <div id="lw-action-button">
                        <span>Set password</span>
                    </div>

                    <script>
                        $(document).ready(function () {
                            initUnobstructiveFormValidation($(RESET_PWD_FORM_SELECTOR));
                            $('#ul-reset-pwd').find('input').val(null);
                            $('#lw-action-button').unbind('click').bind('click', function () {

                                var isValid = $(RESET_PWD_FORM_SELECTOR).validate().form();

                                if (!isValid) return;

                                showFormLoader('.wnd-login');
                                $(RESET_PWD_FORM_SELECTOR).submit();
                            });
                        });
                    </script>
                }
            }
        </div>

    </div>
</div>
