@using LFE.Portal.Helpers



<script type="text/javascript">
    $(document).ready(function () {
        $('.forgotPassword').click(function () {
            $("#loginAjaxWrapper").fadeOut();
            $("#loginAjaxWrapper").hide();
            $("#forgetPasswordWrapper").fadeIn();
        });

        $('.close_ForgetPassword').click(function () {
            $("#forgetPasswordWrapper").fadeOut();
            $("#forgetPasswordWrapper").hide();
            $("#loginAjaxWrapper").fadeIn();
        });
    });


    function forgotPasswordStarted() {
        $(".login-loader").show();
        $('#emailError').hide();
        $('#emailSuccess').hide();
    }

    function onForgotPasswordCompleted(response) {

        $(".login-loader").hide();
        if (response.success) {
            $('#emailSuccess').show();
        }
        else {
            $('#emailError').html(response.error);
            $('#emailError').show();
        }
    }

</script>
<style>
    .close_ForgetPassword {
        padding-left:10px;
        text-decoration:underline;
    }
    .login-loader {
        display:none;
    }
    .emailSuccess {
        display:none;
    }

</style>

<div class="block-title">Forgot Your Password? Please fill in your email and we will send you an activation-email to your email-address:</div>

@using (Ajax.BeginForm("SendForgottenPasswordEmail", "Account", new { area = "", returnUrl = Url.ToCurrentUrl() }, new AjaxOptions { OnBegin = "forgotPasswordStarted", OnSuccess = "onForgotPasswordCompleted" }))
{
    <ul class="simple-list">
        <li>

            @Html.TextBox("email", null, new { @class = "", placeholder = "User e-mail" })
            <button class="submit btn connect" type="submit">Re-activate my account</button>
            <img class="login-loader"  src="~/Content/images/webstore/login-ajax-loader.gif" alt="" />
            <a class="close_ForgetPassword">Back to Login</a>
        </li>
        <li>
            <div class="loginError">
                <div id="emailError"></div>
                <div id="emailSuccess" >
                    A Password reset email containing further instructions was sent to your specified address.
                </div>
            </div>
        </li>
    </ul>        
}