@using LFE.Core.Utils
<div class="lfe-tooltip-content">
    LFE stands for:
    <br/>
    <b>Learning From Experience</b>
    <br/>
    <span class="info">
        That is our mission - to enable experts of all fields to distribute their knowledge without any need for technical skills.    
    </span>
    <br/>
    <a href="@Utils.GetKeyValue("homeUrl")" target="_blank">Learn More</a>
</div>