
<div class="navbar navbar-default cat-nav" role="navigation">
    <div class="container">        
       @Html.Partial("~/Areas/Widget/Views/Shared/Layout/_NavbarHeader.cshtml")
        <div class="navbar-collapse collapse nav-catalog" id="nav-catalog">
            <div class="row">
                <div class="col nav-menu col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="inner">                        
                        @Html.Partial("~/Areas/Widget/Views/Shared/Layout/_NavViewOptions.cshtml")
                    </div>
                </div>
                <div class="col nav-menu col-xs-12 col-sm-6 col-md-6 col-lg-3">&nbsp;</div>
                <div class="col col-lg-3 hidden-xs hidden-sm hidden-md">&nbsp;</div>
                <div class="col col-xs-3 hidden-xs hidden-sm hidden-md">&nbsp;</div>   
            </div>                
        </div>
    </div>
</div>
