@model List<LFE.DataTokens.SalesTotalsBoxToken>
             
@{
    if (Model != null)
    {
        foreach (var token in Model.OrderBy(x => x.Index).ToArray())
        {
            @Html.Partial("Dashboard/_SalesTotalBox", token)
        }
    }
    else
    {
        <h2>Unexpected error</h2>
    }
}
           
