@model LFE.DataTokens.AdminVideoStatsToken

<ul class="ul-vi">
    <li>
        <span class="title">total uploaded</span>
        <span class="value">@Model.TotalUploaded</span>
    </li>
    <li>
        <span class="title">course attached</span>
        <span class="value">@Model.CourseAttached</span>
    </li>
    <li>
        <span class="title">non attached</span>
        <span class="value">@Model.NotAttached</span>
    </li>
    <li>
        <span class="title">preview videos</span>
        <span class="value">@Model.TotalPreviews</span>
    </li>
</ul>