@model LFE.DataTokens.PriceBaseDTO
    
@*<script>
    function onFreeChecked($this) {
        var checked = $($this).is(":checked");

        setEditMode();

        window.getNotifManagerInstance().notify(notifEvents.course.pricelessFlagChanged, checked);

        var pm = $('#frmCoursePrice #AffiliateCommission').data("kendoNumericTextBox");

        if (checked) {
            pm.value(null);
            pm.enable(false);

            $('#d-free-cover').show();

        } else {
            pm.enable(true);
            $('#d-free-cover').hide();
        }
    }
</script>*@

<ul class="ul-edit-form cp1 inline">
    @*<li>
        <div class="input-container" style="width: 40px;">
            @Html.CheckBoxFor(m => m.IsFree, new { @onchange = "javascript:onFreeChecked(this);" })
        </div>
        @Html.LabelFor(m => m.IsFree, new { @style = "padding: 0" })

    </li>*@
    <li>
        <div class="input-container" style="width: 90px;">
            @(Html.Kendo().NumericTextBoxFor(m => m.AffiliateCommission).Events(e => e.Change("setEditMode")).Format("{0:N0}").Decimals(0).Min(0).Max(100).Spinners(false).HtmlAttributes(new { @class = "k-tb-reset", @style = "width:85px" }))
        </div>
        <label class="symb">%</label>
        @Html.LabelFor(m => m.AffiliateCommission, new { @style = "width: auto" })
    </li>
</ul>

