@using LFE.Core.Utils
 <footer>
        <p><a href="@(Utils.GetKeyValue("homeUrl"))" target="_blank">&copy; @(Constants.APP_OFFICIAL_NAME)</a>. All Rights Reserved.</p>
        <ul>
            <li><a href="mailto:hi@beame.io" target="_blank">Contact Support</a></li>
            <li style="display: none">@(System.Globalization.CultureInfo.CurrentCulture.Name)</li>
        </ul>
</footer>