 .sub_tool_bar {
        display: none;
        position: absolute;
        top: 29px;
        left: 0;
        width: 100%;
        background: #e3e3e3;
        z-index: 50;
        display: none;
         height: 145px
    }

        .sub_tool_bar .indent {
            margin: 20px;
        }


       .spanOr {width: 60px;margin: 0 15px}

      .sub_tool_bar .indent .block-wrapper2 {  width: 100%;  text-align: center;  max-width: 920px; }
      .sub_tool_bar .indent .block-wrapper2 .facebook-wrapper { padding-bottom:20px;}
      
      .sub_tool_bar .indent .block-wrapper2 .facebook-wrapper a { position: relative;cursor: pointer;font-size: 12px; top:18px}
      .sub_tool_bar .indent .block-wrapper2 a {position: relative;cursor: pointer;font-size: 12px;}
      .sub_tool_bar .indent .block-wrapper2 span {font-size: 12px;padding-bottom:20px}
      .sub_tool_bar .indent .block-wrapper2 input {height: 22px;width: 182px; margin-bottom:10px}
      .sub_tool_bar .indent .block-wrapper2 input:focus {outline: none;border-color: #B60F00; box-shadow: 0 0 10px #B60F00 }
      .sub_tool_bar .indent .block-wrapper2 .password-wrapper { position: relative;}
      .sub_tool_bar .indent .block-wrapper2 .password-wrapper .forgotPassword {display:block; text-decoration: underline;font-size: 12px;color: #000; margin-bottom:10px}
      .sub_tool_bar .indent .block-wrapper2 input[type="submit"] { background-color: #329900;color: #FFF;width: 186px;border: none;height: 25px;text-align: center;font-weight: bold;cursor: pointer;}

      .sub_tool_bar .indent .block-wrapper2 .submit-wrapper {width: 100%; display:inline-block}
      .sub_tool_bar .indent .block-wrapper2 .submit-wrapper .validation-summary-errors {font-size: 12px; color: #b60f00; font-weight: bold;}
      .sub_tool_bar .indent .block-wrapper2 .submit-wrapper .login-loader {  display: none;  padding-left: 5px;}
      .sub_tool_bar .indent .block-wrapper2 .close_login{position:relative; display:inline-block; background-repeat:no-repeat;background-position:0 0;padding-left:20px;display:inline-block;vertical-align:middle;background-image:url('/Content/images/webstore/ico-cancel.png')}
      .sub_tool_bar .indent .block-wrapper2 .close_search{position:relative; display:inline-block; background-repeat:no-repeat;background-position:0 0;padding-left:20px;display:inline-block;vertical-align:middle;background-image:url('/Content/images/webstore/ico-cancel.png')}
     


      .sub_tool_bar .indent .block-wrapper { display: inline-block; width: 100%;  text-align: left;  max-width: 920px;  }
      .sub_tool_bar .indent .block-message {background-color:#cc0001; color:white; font-size:14px; padding-bottom:5px; padding-top:5px; text-align:center;display:none }
      .sub_tool_bar .indent .block-title {font-size:14px; padding-bottom:5px; padding-top:5px; text-align:center;}
      .sub_tool_bar .indent .block-error {font-size:14px; padding-bottom:5px; padding-top:5px; text-align:center; color:#B60F00; font-weight:bold}
      .sub_tool_bar .indent .block-message a{ color:white; ;text-decoration:underline }
      .sub_tool_bar .indent .block-wrapper .facebook-wrapper { display: inline-block;position: relative;}
      .sub_tool_bar .indent .block-wrapper .facebook-wrapper a { display: inline-block;position: relative;cursor: pointer;font-size: 12px; top:18px}
      .sub_tool_bar .indent .block-wrapper a { display: inline-block;position: relative;cursor: pointer;font-size: 12px;}
      .sub_tool_bar .indent .block-wrapper span {font-size: 12px;}      
      .sub_tool_bar .indent .block-wrapper input {height: 22px;width: 182px;}
      .sub_tool_bar .indent .block-wrapper input:focus {outline: none;border-color: #B60F00; box-shadow: 0 0 10px #B60F00 }
      .sub_tool_bar .indent .block-wrapper .password-wrapper { display: inline-block;position: relative;}
      .sub_tool_bar .indent .block-wrapper .password-wrapper .forgotPassword {position: absolute;top: 35px;left:3px;text-decoration: underline;font-size: 12px;color: #000;          }
      .sub_tool_bar .indent .block-wrapper input[type="submit"] { background-color: #329900;color: #FFF;width: 125px;border: none;height: 25px;text-align: center;font-weight: bold;cursor: pointer;}
      .sub_tool_bar .indent .block-wrapper .close_login{background-repeat:no-repeat;background-position:0 0;margin: 0 0 0 15px;padding-left:20px;display:inline-block;vertical-align:middle;background-image:url('/Content/images/webstore/ico-cancel.png')}
      

      .sub_tool_bar .indent .block-wrapper .submit-wrapper {display: inline-block;                position: relative;                width: 130px;            }
     
      .sub_tool_bar .indent .block-wrapper .submit-wrapper .loginError {position: absolute;                    top: 30px;                    left: 10px;                    font-size: 12px;                    color: #b60f00;                    font-weight: bold;                }
      .sub_tool_bar .indent .block-wrapper .submit-wrapper .login-loader {  display: none;                    padding-left: 5px;                }

      .sub_tool_bar .indent .error-wrapper .loginError {font-size: 12px; color: #b60f00; font-weight: bold;}
      .sub_tool_bar .indent .error-wrapper {text-align:center}    
       .sub_tool_bar .indent .error-wrapper .validation-summary-errors { font-size: 12px;color: #b60f00;font-weight: bold;}



      .sub_tool_bar .indent .block-wrapper input {   display: inline-block; position: relative;     }
      .sub_tool_bar .indent .block-wrapper:before {content: '';                display: block;                width: 100%;            }
      .sub_tool_bar .indent .block-wrapper:after {  content: '';               display: inline-block;                width: 100%;            }

      


       .sub_tool_bar2 {position: absolute;top: 29px;left: 0;width: 100%;background: #e3e3e3;z-index: 50; height: 200px; display:none; text-align:center    }
       .sub_tool_bar2 .indent {            margin: 20px;        }
       .sub_tool_bar2 .indent .block-wrapper { display: inline-block; width: 100%;  text-align: justify;  max-width: 920px;  }
       .sub_tool_bar2 .indent .block-wrapper input {   display: inline-block; position: relative; height: 22px;width: 182px;    }
       .sub_tool_bar2 .indent .block-wrapper a { cursor: pointer;font-size: 12px;}
       .sub_tool_bar2 .indent .block-wrapper span {font-size: 12px;}
       .sub_tool_bar2 .indent .block-wrapper input:focus {outline: none;border-color: #B60F00; box-shadow: 0 0 10px  #B60F00; }

       .sub_tool_bar2 .indent .block-wrapper:before {content: '';display: block;width: 100%;}
       .sub_tool_bar2 .indent .block-wrapper:after {  content: '';display: inline-block;width: 100%;}
       .sub_tool_bar2 .indent .block-wrapper input[type="submit"] { background-color: #329900;color: #FFF;width: 125px;border: none;height: 25px;text-align: center;font-weight: bold;cursor: pointer;}
       .sub_tool_bar2 .indent .block-wrapper .submit-wrapper {display: inline-block;position: relative;width: 170px;}
       .sub_tool_bar2 .indent .block-wrapper .submit-wrapper .validation-summary-errors {position: absolute; top: 30px; left: 10px; font-size: 12px; color: #b60f00; font-weight: bold;}
       .sub_tool_bar2 .indent .block-wrapper .submit-wrapper .loginError {position: absolute;top: 30px;left: 10px; font-size: 12px;color: #b60f00; font-weight: bold;}
       .sub_tool_bar2 .indent .block-wrapper .submit-wrapper .login-loader {  display: none; padding-left: 5px; }
       
       .sub_tool_bar2 .indent .block-wrapper .inputs-wrapper {display:inline-block;position: relative;}
       .sub_tool_bar2 .indent .block-wrapper .inputs-wrapper .input-col {display: inline-block;position: relative;}
       .sub_tool_bar2 .indent .block-wrapper  .input-col {display: inline-block;position: relative;}
        .sub_tool_bar2 .indent .block-wrapper .input-col .close_register{       background-repeat: no-repeat;    background-position: 0 0px;    padding-left: 20px;    display: inline-block;    vertical-align: middle;    background-image: url('/Content/images/webstore/ico-cancel.png');}
        .sub_tool_bar2 .indent .block-wrapper .input-col input {margin-top:10px}
      
       .sub_tool_bar2 .indent .block-wrapper .blue-spacer {display: inline-block;position: relative; border-right:1px solid #355497; min-height:100px; width:1px   }

        .sub_tool_bar2 .indent .block-wrapper .facebook-wrapper {display: inline-block;position: relative; width:200px; text-align:left }
        .sub_tool_bar2 .indent .block-wrapper .facebook-wrapper a {position:absolute; top:-63px }
        .sub_tool_bar2 .indent .block-wrapper .submit-wrapper .register-loader {  display: none; padding-left: 5px;   }
        
        .validation-summary-errors ul :nth-child(n+1) {  display:none;}
        .validation-summary-errors ul :first-child {  display:block;}

        .sub_tool_bar2 .indent .block-error {  width: 100%;  text-align: center;  max-width: 920px;padding: 5px 0 0;margin: 0 auto  }
        .sub_tool_bar2 .indent .block-error .loginError { font-size: 12px;color: #b60f00; font-weight: bold;}
        .sub_tool_bar2 .indent .block-error .validation-summary-errors {font-size: 12px; color: #b60f00; font-weight: bold;margin: 0 !important}

        .sub_tool_bar2 .register-confirmation {width:100%; height:90%; margin-top: 20px;  }
        .sub_tool_bar2 .register-confirmation .title,.sub_tool_bar2 .register-confirmation .reg-success-title {font-weight:bold; font-size:14px;}
        .sub_tool_bar2 .register-confirmation .message,.sub_tool_bar2 .register-confirmation .reg-success-message {font-weight:bold; font-size:12px; padding-top:20px}
        .sub_tool_bar2 .register-confirmation .message a {cursor:pointer }





       .sub_tool_bar2 .indent .block-wrapper2 { width: 100%;  text-align: justify;  max-width: 920px; text-align:center  }
       .sub_tool_bar2 .indent .block-wrapper2 input {   position: relative; height: 22px;width: 182px;    }
       .sub_tool_bar2 .indent .block-wrapper2 a { cursor: pointer;font-size: 12px;}
       .sub_tool_bar2 .indent .block-wrapper2 span {font-size: 12px;}
       .sub_tool_bar2 .indent .block-wrapper2 input:focus {outline: none;border-color: #B60F00; box-shadow: 0 0 10px  #B60F00; }

       .sub_tool_bar2 .indent .block-wrapper2 input[type="submit"] { background-color: #329900;color: #FFF;width: 125px;border: none;height: 25px;text-align: center;font-weight: bold;cursor: pointer;}
       .sub_tool_bar2 .indent .block-wrapper2 .submit-wrapper {width: 100%;padding:10px 0 10px 0;}
       .sub_tool_bar2 .indent .block-wrapper2 .submit-wrapper .validation-summary-errors { font-size: 12px; color: #b60f00; font-weight: bold;}
       .sub_tool_bar2 .indent .block-wrapper2 .submit-wrapper .loginError {font-size: 12px;color: #b60f00; font-weight: bold;}
       .sub_tool_bar2 .indent .block-wrapper2 .submit-wrapper .login-loader {  display: none; padding-left: 5px; }
       
       .sub_tool_bar2 .indent .block-wrapper2 .input-col {position: relative; display:inline-block}
       .sub_tool_bar2 .indent .block-wrapper2 .input-col .close_register{       background-repeat: no-repeat;    background-position: 0 0px;    padding-left: 20px;    display: inline-block;    vertical-align: middle;    background-image: url('/Content/images/webstore/ico-cancel.png');}
       .sub_tool_bar2 .indent .block-wrapper2 .input-col input {margin-top:10px}
      
       .sub_tool_bar2 .indent .block-wrapper2 .blue-spacer {display: none;position: relative; border-right:1px solid #355497; min-height:100px; width:1px   }

        .sub_tool_bar2 .indent .block-wrapper2 .facebook-wrapper { width:100% }
        .sub_tool_bar2 .indent .block-wrapper2 .facebook-wrapper a { top:-63px }
        .sub_tool_bar2 .indent .block-wrapper2 .submit-wrapper .register-loader {  display: none; padding-left: 5px;   }
        
        

        .sub_tool_bar3 {position: absolute;top: 29px;left: 0;width: 100%;background: #e3e3e3;z-index: 50; height: 720px !important; display:none    }
        .sub_tool_bar3 .close-wrapper {float:right; padding-right:20px;padding-top: 5px;cursor: pointer }
        .sub_tool_bar3 .close-wrapper  .close_frame {   
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('/Content/images/webstore/ico-cancel.png');
    font-size:15px;
}



      .sub_tool_bar .indent2 {      margin: 20px;}
      .sub_tool_bar .indent2 .block-wrapper { display: inline-block; width: 100%;  text-align: justify;  max-width:730px; line-height:0px  }

      .sub_tool_bar .indent2 .block-wrapper .close_ForgetPassword{ background-repeat: no-repeat; background-position: 0 0px;padding-left: 20px;display: inline-block;vertical-align: middle;    background-image: url('/Content/images/webstore/ico-cancel.png');}

      .sub_tool_bar .indent2 .block-message {background-color:#cc0001; color:white; font-size:14px; padding-bottom:5px; padding-top:5px; text-align:center;display:none }
      .sub_tool_bar .indent2 .block-title {font-size:14px; padding-bottom:15px;  }
      .sub_tool_bar .indent2 .loginError {font-size:14px; padding-bottom:5px; padding-top:5px; text-align:center; color:#B60F00; font-weight:bold; max-width:730px}
      .sub_tool_bar .indent2 .loginError #emailError {display:none}
      .sub_tool_bar .indent2 .loginError #emailSuccess {display:none; color:black}
      .sub_tool_bar .indent2 .block-message a{ color:white; ;text-decoration:underline }
      .sub_tool_bar .indent2 .block-wrapper .facebook-wrapper { display: inline-block;position: relative;}
      .sub_tool_bar .indent2 .block-wrapper .facebook-wrapper a { display: inline-block;position: relative;cursor: pointer;font-size: 12px; top:18px}
      .sub_tool_bar .indent2 .block-wrapper a { display: inline-block;position: relative;cursor: pointer;font-size: 12px;}
      .sub_tool_bar .indent2 .block-wrapper span {font-size: 12px;}
      .sub_tool_bar .indent2 .block-wrapper input {height: 22px;width: 280px;}
      .sub_tool_bar .indent2 .block-wrapper input:focus {outline: none;border-color: #B60F00; box-shadow: 0 0 10px #B60F00 }
      .sub_tool_bar .indent2 .block-wrapper .password-wrapper { display: inline-block;position: relative;}
      .sub_tool_bar .indent2 .block-wrapper .password-wrapper .forgotPassword {position: absolute;top: 30px;left: 10px;text-decoration: underline;font-size: 12px;color: #000;          }
      .sub_tool_bar .indent2 .block-wrapper input[type="submit"] { background-color: #329900;color: #FFF;width: 200px;border: none;height: 25px;text-align: center;font-weight: bold;cursor: pointer;}

      .sub_tool_bar .indent2 .block-wrapper .submit-wrapper {display: inline-block;                position: relative;                width: 150px;            }
      .sub_tool_bar .indent2 .block-wrapper .submit-wrapper .validation-summary-errors {position: absolute;                    top: 30px;                    left: 10px;                    font-size: 12px;                    color: #b60f00;                    font-weight: bold;                }
      .sub_tool_bar .indent2 .block-wrapper .submit-wrapper .loginError {position: absolute;                    top: 30px;                    left: 10px;                    font-size: 12px;                    color: #b60f00;                    font-weight: bold;                }
      .sub_tool_bar .indent2 .block-wrapper .login-loader {  display: none;                    padding-left: 5px;                }

      .sub_tool_bar .indent2 .block-wrapper input {   display: inline-block; position: relative;     }
      .sub_tool_bar .indent2 .block-wrapper:before {content: '';                display: block;                width: 100%;            }
      .sub_tool_bar .indent2 .block-wrapper:after {  content: '';               display: inline-block;                width: 100%;            }


 

.toolbar-arrow{padding:3px 15px 2px 8px;margin:0 5px}
.toolbar-arrow:after{content:url(../../content/images/webstore/arrow.png);padding:0 0 0 5px;position:relative;top: -1px;left: -3px}

.toolbar-arrow-open{padding:3px 15px 15px 8px;margin:0 5px;text-decoration:none;color:#000!important;background-color:#e3e3e3}
.toolbar-arrow-open:after{content:url(../../content/images/webstore/arrow-black-up.png);padding:0 0 0 5px;position:relative;top: -1px;left: -3px}

.rel {
    position: relative;
}
.inline-na {
    display: inline-block !important;
}


.sub_tool_bar_search {
        display: none;
        position: absolute;
        top: 29px;
        left: 0;
        width: 100%;
        background: #e3e3e3;
        z-index: 50;
        display: none;
         height: 75px
    }

      .sub_tool_bar_search .indent {  margin: 20px;  }
      .sub_tool_bar_search .indent .block-wrapper { display: inline-block; width: 100%;  text-align: center;    }
      .sub_tool_bar_search .indent .block-wrapper a { display: inline-block;position: relative;cursor: pointer;font-size: 12px;}
      .sub_tool_bar_search .indent .block-wrapper span {font-size: 12px;}      
      .sub_tool_bar_search .indent .block-wrapper input {height: 22px;width: 250px;}
      .sub_tool_bar_search .indent .block-wrapper input:focus {outline: none;border-color: #B60F00; box-shadow: 0 0 10px #B60F00 }
      .sub_tool_bar_search .indent .block-wrapper input[type="submit"] { background-color: #329900;color: #FFF;width: 125px;border: none;height: 25px;text-align: center;font-weight: bold;cursor: pointer;}
      .sub_tool_bar_search .indent .block-wrapper .close_search{position:relative; display:inline-block; background-repeat:no-repeat;background-position:0 0;padding-left:20px;display:inline-block;vertical-align:middle;background-image:url('/Content/images/webstore/ico-cancel.png')}
      .sub_tool_bar_search .indent .block-wrapper .submit-wrapper {display: inline-block;                position: relative;                width: 130px;            }
      .sub_tool_bar_search .indent .block-wrapper .submit-wrapper .loginError {position: absolute;                    top: 30px;                    left: 10px;                    font-size: 12px;                    color: #b60f00;                    font-weight: bold;                }
      .sub_tool_bar_search .indent .block-wrapper .login-loader {  display: none;   padding-left: 5px; }
      .sub_tool_bar_search .indent .block-wrapper input {   display: inline-block; position: relative;     }
      .sub_tool_bar_search .indent .block-wrapper:before {content: '';                display: block;                width: 100%;            }
      .sub_tool_bar_search .indent .block-wrapper:after {  content: '';               display: inline-block;                width: 100%;            }
      .sub_tool_bar_search .indent .block-wrapper:before {content: '';display: block;width: 100%;}
      .sub_tool_bar_search .indent .block-wrapper:after {  content: '';display: inline-block;width: 100%;}