<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=***Put server address here ***;Initial Catalog=LfeData;Persist Security Info=True;User ID=*** DB Username ***;Password=*** DB User password ***" />
  <add name="lfeAuthorEntities" connectionString="metadata=res://*/LFEAuthorModel.csdl|res://*/LFEAuthorModel.ssdl|res://*/LFEAuthorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=***Put server address here ***;initial catalog=LfeData;persist security info=True;user id=*** DB Username;password=*** DB User password ***;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>