<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="PaypalMode" value="sandbox" />
  <add key="useSSL" value="false" />
  <!--Urls-->
  <add key="homeUrl" value="****************" />
  <add key="baseUrl" value="****************"/>
  <add key="uploaderIframeUrl" value="************"/>
  <add key="uploaderBaseUrl"   value="************"/>


  <!--S3 buckets-->
  <add key="S3CloudfrontRoot"  value="*********" />
  <add key="S3BucketName"      value="*********" />
  <add key="S3VideoBucketName" value="*********" />
  
  <!--staging-->
  <add key="WixSecretKey" value="*******" />
  
  <!--FB-->
  <!--staging-->
  <add key="fbAppId" value="*******************" />
  <add key="fbAppSecret" value="*******************" />
  <add key="fbFromName" value="********************" />
  <add key="fbPageId" value="*********************" />
  <add key="fbAppAccessToken" value="*************************" />

  <add key="Facebook:AppId" value="***********" />
  <add key="Facebook:AppSecret" value="***************" />
  <add key="Facebook:AppNamespace" value="" />
  <add key="Facebook:AuthorizationRedirectPath" value="~/Facebook/Permissions" />
  <add key="Facebook:VerifyToken:User" value="" />
  <add key="Search:AppKey" value="" />

</appSettings>