@using LFE.Core.Enums
@using LFE.DataTokens

@model LFE.DataTokens.ChimpUserListDTO

@{
    ViewBag.Title = "Mailchimp Lists";
    Layout = "~/Areas/AuthorAdmin/Views/Shared/_Layout.cshtml";
}

@section css
{
    <link href="~/Areas/AuthorAdmin/Content/styles/mailChimp.css" rel="stylesheet" />
}

<div class="mc-header">
    <h1>MAILCHIMP INTEGRATION</h1>
</div>

<div class="mc-updateBox">
    @{
        var date = Model.SubscribersLastUpdate != null ? ((DateTime)Model.SubscribersLastUpdate).ToString("U") : string.Empty;
    }

    @using (Html.BeginForm("RefreshSegments", "Mailchimp", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ListId)

        <span>Last list & segment update: @date UTC</span>
        <input type="submit" value="Refresh my list & Segments" onclick="showLoader()" />
    }


</div>


@{
    if (!Model.IsValid)
    {
        <div class="mc-errorBox">
            <div class="header"><h2>Errors</h2></div>
            <div class="content">
                @Html.Raw(Model.Message)
            </div>
        </div>
    }


    if (ViewBag.viewNotification != null && ViewBag.viewNotification)
    {
        var missingSegments = ViewBag.missingSegments as List<ChimpSegmentNameToken>;
        if (missingSegments != null)
        {
            var notificaton = string.Join("", missingSegments.Select(x => string.Format("<div>{0}</div>", x.Name)).ToArray());
            
            <div class="mc-notificationBox">
                <div class="header"><h2>Notifications</h2></div>
                <div class="content">
                    Missing Segments:
                    @Html.Raw(notificaton)
                </div>
            </div>
        }

    }


    if (ViewBag.viewSuccess != null && ViewBag.viewSuccess)
    {
        <div class="mc-success">
            <h1>SUCCESS!</h1>
            The following segments were successfully created and populated.
        </div>
    }
}

@Html.Partial("Mailchimp/_SegmentsListPartial", Model)
