
<div class="navbar navbar-default cat-nav" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse nav-catalog" id="nav-catalog">
            <div class="row">
                <div class="col nav-menu col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="inner">
                        <div class="dropdown" id="view-option-ddl">
                            <a href="#" class="dropdown-toggle nav-ico nav-opt-ico" data-toggle="dropdown">My Purchases<b class="caret nav-ddl ddl-caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("MyCourses", "Widget", new { area = "Widget" })">View my purchases</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col nav-menu col-xs-12 col-sm-6 col-md-6 col-lg-3">&nbsp;</div>
                <div class="col col-lg-3 hidden-xs hidden-sm hidden-md">&nbsp;</div>
                <div class="col col-xs-3 hidden-xs hidden-sm hidden-md">&nbsp;</div>   
            </div>                
        </div>
    </div>
</div>
