@using LFE.Core.Utils
@using LFE.Portal.Areas.Widget.Models
@using LFE.Portal.Helpers
@model CheckoutBaseToken

@{
    ViewBag.Title = "Forgotten password";
    Layout = "~/Areas/Widget/Views/Shared/_WidgetBootstrapCheckoutLayout.cshtml";
    var loginPageLink = Url.ActionString("Login", "Checkout", new RouteValueDictionary { { "area", "Widget" }, { "trackingId", Model.TrackingId }, { "id", Model.PriceLineId }, { "ref", Model.Refferal } });
    var backLink = Url.ActionString("Login", "Checkout", new RouteValueDictionary { { "area", "Widget" }, { "trackingId", Model.TrackingId }, { "id", Model.PriceLineId }, { "ref", Model.Refferal } });
}

@section CSS
{    
    <link href="~/Areas/Widget/Content/styles/purchase.css" rel="stylesheet" />
    <style>
        .sc-main-area{padding-bottom: 0}
    </style>
}

<style>
.sc-main-area { color:#17496e; border:solid 1px transparent; padding-bottom:45px; }
.sc-main-area p { margin:0; padding:30px 0 20px 0;  font-size:1em; font-weight:normal;}
</style>

<div class="sc-main-area rel">
    @Html.Partial("Account/Login/_WindowRequestForgottenPassword")
    <div style="position: absolute;bottom: 0;right: 0;">
        <a href="@backLink" class="sc-form-btn sc-btn-gray" id="sc-btn-back" style="width: 175px">Back</a>
        <a href="#" class="sc-form-btn sc-btn-green" id="sc-btn-login" style="width: 175px">Continue</a>
    </div>
</div>

@section JS
{
<script>
function onForgotPasswordRequested(response) { //overriden from lfe.login.js
    hideFormLoader();
    if (response.success) {
        $('#frm-forgot-pwd').slideToggle(300, function () {
            $('.d-fp-form > p').html(
                '<h2 style="text-align:center">SUCCESS!!</h2>' +
                '<br />' +
                'A password update email was successfully sent to your email. Click button bellow to log-in with your new password'
            );
            $('#sc-btn-login').unbind('click').html('Go to Login Page').attr({'href':'@loginPageLink'});
            
        });
    }
    else {
        showLoginError(response.error);
    }
}

$(function() {
    $('#sc-btn-login').unbind('click').click(function(e) {
        $('#frm-forgot-pwd').submit();
    });
});
</script>
}
