
@using LFE.Portal.Areas.Widget.Models
@model PurchaseResultToken
@{
    ViewBag.Title = "Purchase " + Model.ItemName;
    Layout = "~/Areas/Widget/Views/Shared/_WidgetBootstrapCheckoutLayout.cshtml";
}
@section css
{
    <style>
        h2.pr{margin: 25px auto;font-size: 24pt;color: #000;}
    </style>
}
<script>
    var redirectUrl = '@(Html.Raw(Model.RedirectUrl))';   
</script>
<div class="row">
    <div class="col col-xs-12">
        @{
            if (Model.IsValid)
            {
                <script>
                    $(document).ready(function () {
                        console.log('--opener--' + redirectUrl);
                        console.log(window.opener);
                        if (window.opener) {
                            window.opener.location.href = redirectUrl;
                            window.close();
                        } else {
                            window.location.href = redirectUrl;
                        }
                    });
                </script>
                <h2 class="pr reset-all">You will be redirected shortly to Purchase Complete Page</h2>
            }
            else
            {

                <script>
                    $(document).ready(function () {
                        if (window.opener) {
                            window.opener.showErrorPage('@Model.Message');

                        }
                        window.close();
                    });
                </script>
            }
}
    </div>
</div>

@section JS
{
    <script>
        $(document).ready(function () {


        });
    </script>
}