<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true"  internalLogLevel="Debug"
 internalLogToConsole="true" >

  <targets>


    <target name="logdb" type="Database">
      <!--staging-->
      <dbprovider>mssql</dbprovider>
      <dbhost>*******************</dbhost>
      <dbdatabase>LfeData</dbdatabase>
      <dbusername>*********************</dbusername>
      <dbpassword>*********************</dbpassword>

      <commandText>
        INSERT INTO LogTable(
        [LogLevel]
        ,[Origin]
        ,[Message]
        ,[Exception]
        ,[Logger]
        ,[StackTrace]
        ,[RecordGuidId]
        ,[RecordIntId]
        ,[RecordObjectType]
        ,[IPAddress]
        ,[HostName]
        ,[UserId]
        ,[SessionId]
        )
        VALUES( @level
        ,@origin
        ,@message
        ,@exception
        ,@logger
        ,@stacktrace
        ,dbo.f_GuidFix( @RecordGuidId)
        ,@RecordIntId
        ,@objectType
        ,@IPAddress
        ,@HostName
        ,@UserId
        ,@SessionId
        );
      </commandText>


      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout=" ${exception:format=ToString}" />
      <parameter name="@stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@RecordGuidId" layout="${event-context:item=RecordGuidId}"/>
      <parameter name="@Origin" layout="${event-context:item=Origin}"/>
      <parameter name="@RecordIntId" layout="${event-context:item=RecordIntId}"/>
      <parameter name="@objectType" layout="${event-context:item=objectType}"/>
      <parameter name="@IPAddress" layout=" ${event-context:item=IPAddress}" />
      <parameter name="@HostName" layout=" ${event-context:item=HostName}" />
      <parameter name="@UserId" layout="${event-context:item=UserId}"/>
      <parameter name="@SessionId" layout="${event-context:item=SessionId}"/>
    </target>


  </targets>

  <rules>
    <logger name="*" levels="Trace, Info, Debug, Warn, Error, Fatal" writeTo="logdb"/>
    <!--logger name="*" minlevel="debug" writeTo="logfile" /-->
  </rules>
</nlog>
