@model LFE.DataTokens.WizardCourseMetaDTO

<script type="text/javascript">
	var EDIT_FORM_SELECTOR = '#frmCourseMeta';
	
	$(document).ready(function () {
		window.isFormInEditMode = false;
		
		var form = $(EDIT_FORM_SELECTOR);

		initUnobstructiveFormValidation(form);

		window.getNotifManagerInstance().unsubscribe(notifEvents.wizard.saveStep, submitStep, null);
		window.getNotifManagerInstance().subscribe(notifEvents.wizard.saveStep, submitStep, null);
	});
	
	function submitStep() {
		$(EDIT_FORM_SELECTOR).submit();
	}

	function onCourseMetaSaved(response) {
		hideFormLoader();

		var kind = response.success ? NotificationKinds.Success : NotificationKinds.Error;
		var msg = response.success ? "Course meta saved successfully" : response.error;
		
		window.formUserNotifManager.show({ message: msg, kind: kind });
		
		if (response.success) {
			setTimeout(function() {
				window.getNotifManagerInstance().notify(notifEvents.wizard.stepSaved, null);
			},500);
					 
			window.getNotifManagerInstance().notify(notifEvents.course.courseStateChanged, null);
		}
	}
</script>



@using (Ajax.BeginForm("SaveCourseMeta", "Course", null, new AjaxOptions { OnBegin = "javaScript:showFormLoader('#frmCourseMeta')", OnSuccess = "onCourseMetaSaved", LoadingElementId = "site-loader" }, new { @id = "frmCourseMeta",  @class = "ajax-form"}))
{
	@Html.HiddenFor(x=>x.CourseId)
	@Html.HiddenFor(x=>x.Uid)
	
	<fieldset>
		<legend></legend>
		<ul class="ul-edit-form crs meta">
			<li>
				@Html.LabelFor(m=>m.MetaTags)
				<div class="input-container">
						@Html.TextAreaFor(m=>m.MetaTags,new{@rows=4,@columns=3,@class="txt-inp",@style="height:160px",@onkeydown="onTxtBoxInEdit(this)"})
						<span style="display: block;margin: 4px 0 0;font-size: 11px; color:#666">separate by comma</span>
				</div>				
			</li>
		</ul>
	</fieldset>
}