
<div id="d-fp-form" class="d-fp-form login-inner-w">
    <p>
        Enter the email address you used
        for registration and then click
        Send. A password Change email
        will be sent to this address.
        Check your inbox!
    </p>
    @using (Ajax.BeginForm("SendForgottenPasswordEmail", "Account", new { area = "", returnUrl = "" }, new AjaxOptions { OnBegin = "javascript:return onReqPwd()", OnSuccess = "onForgotPasswordRequested" }, new { @id = "frm-forgot-pwd", @class = "rel" }))
    {
        <fieldset>
            <legend></legend>
            <ul class="ul-reg" id="ul-fpwd">
                <li>
                    @Html.TextBox("email", null, new { @class = "", placeholder = "Enter your email address" })
                </li>
                <li class="login-info-error"><div class="inner"><div class="e-row"></div></div></li>
            </ul>
        </fieldset>
    }
</div>