@model LFE.Portal.Models.FbAdminAuthenticationResult


<div class="fb-admin-sub" id="nfna-box-1-sub">I don't have an LFE Account. Create one for me!</div>
<div class="inner">
    <input id="aFacebookLogin" type="submit" value=" " title="Connect with Facebook" class="btn-fb-login">
</div>
<div id="fb-login-info-panel" class="login-info-error" style="margin: 0;width: 300px">
    <div class="inner">
        <div class="e-row"></div>
    </div>
</div>