@using LFE.DataTokens
@using LFE.Portal.Helpers
@model MonthlyStatementDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MonthlyStatement</title>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Scripts/kendo/" + Url.ToKendoVersionUrl() + "/kendo.dataviz.min.js")"></script>
</head>
<body>
    <div style="width: 100%; text-align: center;">
        <table style="width: 610px; margin: 10px auto; color: #000 !important">
            <tr>
                <td>
                    @Html.Partial("Report/MonthlyStatement/_Totals",Model)
                </td>
            </tr>
            <tr>
                <td style="padding-top: 20px;">
                    @Html.Partial("Report/MonthlyStatement/_Chart",Model)
                </td>                
            </tr>
            <tr>
                <td style="padding: 0">
                   @Html.Partial("Report/MonthlyStatement/_Footer")
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
