@{
    ViewBag.Title = "LFE Catalog Manage";
    Layout = "~/Areas/PortalAdmin/Views/Shared/_Layout.cshtml";
}

<h2 style="margin: 0 0 25px 0;font-size: 24px">LFE Catalog Manage</h2>


<iframe width="1260" height="1000" style="border:none;overflow-y: auto" src="@Url.Action("EditLfeStore","WebStore",new{area="AuthorAdmin"})"></iframe>