<script>
    function onForgotPasswordRequested(response) {
        hideFormLoader();
        
        if (response.success) {
            $('#l-msg').html('A Password reset email containing further instructions was sent to your specified address.');
        }
        else {
            $('#l-msg').html(response.error);        
        }
        
        $('#l-msg').slideDown();
    }

    function onForgottentPwdRequestBegin() {
        showFormLoader('#d-fp-form');
        $('#l-msg').hide();
    }
 </script>

<label class="title" style="margin: 10px 0;text-align: center;display: none;color: #333" id="l-msg"></label>

<div id="d-fp-form" style="width:380px;margin: 0 auto 0;text-align: center">
    @using (Ajax.BeginForm("SendForgottenPasswordEmail", "Account", new { area = "", returnUrl ="" }, new AjaxOptions {OnBegin = "onForgottentPwdRequestBegin",OnSuccess = "onForgotPasswordRequested" },new{@id="frm-forgot-pwd"}))
    {
        <fieldset>
            <legend></legend>
            <ul class="ul-reg">
                <li>
                     @Html.TextBox("email", null, new {@class="", placeholder = "Enter your email address" })
                </li>
            </ul>
            
        </fieldset>
        
        <input type="submit" value="Re-activate my account" class="btn-reg-form" style="bottom: -5px;width: auto;position: relative" />
    }
</div>