@using LFE.Portal.Helpers
@model string


<div class="reg-success-title">@Html.SuccessRegistrationMsgHeader(Model)</div>
    
<div class="reg-success-message">@Html.Raw(Html.SuccessRegistrationMsgBody())</div>