@{
    ViewBag.Title = "General Error";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<p style="color: #fff;font-size: 15px;margin: 60px auto 0">
    We are having some minor technical problems, which prevented us from completing the task you were doing.
    <br />
    Our technical team was notified of the problem, please try again what you were doing in a few minutes.
    <br /><br />
    We are sorry for the inconvenience.
</p>